body {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  /* color: rgba(0, 0, 0, 0.84); */
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.2;
  font-weight: 500;
}

p span {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #3b8d7f;
}

#from {
  font-style: italic;
  font-size: 20px;
  text-align: right;
}

#from a {
  font-style: normal;
}

#rdv p {
  font-weight: 500;
  font-size: 25px;
}

#rdv-title {
  font-weight: 600 !important;
}

#signature {
  padding-bottom: 50px;
}

#signature p {
  text-align: right;
  font-size: 25px;
}

hr {
  width: 60%;
  border: none;
  border-top: 3px double rgba(0, 0, 0, 0.84);
  color: rgba(0, 0, 0, 0.84);
  overflow: visible;
  text-align: center;
  height: 5px;
}

iframe {
    margin-right: auto;
    margin-left: auto;
}